@import "../node_modules/bulma/css/bulma.min.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Increase the height of the spans. Bulma default is 1px and is too difficult to see. */
.navbar-burger > span {
  height: 3px;
}

.container > .box {
  max-width: 400px;
}
